In [2]:
import selenium
from selenium import webdriver

In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import time

import seaborn as sns
import matplotlib.pyplot as plt

In [94]:
# make to download the correct chrome driver, update path to its directory
wd = webdriver.Chrome(executable_path='./chromedriver.exe')
url = 'https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Oakland%2C%20California%2C%20United%20States&geoId=105883676&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0'
wd.get(url)

no_of_jobs = wd.find_element_by_css_selector('h1>span').get_attribute('innerText')

In [106]:
# convert str result of job counts into int
no_of_jobs_str = no_of_jobs
no_of_jobs_str = no_of_jobs_str[:-1]
no_of_jobs_int = int(no_of_jobs_str.replace(',',''))
no_of_jobs_int

7000

In [24]:
# expanding the listing to get a total of no_of_jobs_in posts
i = 2

# while i <= int(no_of_jobs_int/25) + 1:
while i <= int(1000/25) + 1: # just want about 1000 postings
    wd.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    i = i+1
    try:
        wd.find_element_by_class_name('infinite-scroller__show-more-button.infinite-scroller__show-more-button').click()
        time.sleep(5)
    except:
        pass
        time.sleep(5)

In [96]:
# get a list of jobs
job_lists = wd.find_element_by_class_name('jobs-search__results-list')
jobs = job_lists.find_elements_by_tag_name('li')
len(jobs)

25

In [98]:
job_id = []
job_title = []
company_name = []
location = []
# job_link = []
seniority_level = []

job_card = wd.find_element_by_xpath('/html/body/div[1]/div/section/div[2]/div/section[1]/div/div/section/button[1]')

for job in jobs:
    
    # click on each li ele to populate the job card 
    click = job.click()
    job_card.click()
    
    # get the job id from the url query
    url_parts = wd.current_url.split('JobId=')
    job_id.append(url_parts[1])
    
    # get job title
    title = job.find_element_by_css_selector('div>h3')
    job_title.append(title.text)
    
    # get the company name
    company = job.find_element_by_css_selector('div>h4')
    company_name.append(company.text)
    
    # job location
    job_location = job.find_element_by_class_name('job-search-card__location')
    location.append(job_location.text)
    
    #   hyper link to job post
#     try:
#         # majority of the li cards have tag div with the same class name
#         href = job.find_element_by_class_name('base-card__full-link')
#     except:
#         # some card doesnt have the a tag with class different name
#         href = job.find_element_by_css_selector('li>a')
#         pass
#     job_link.append(href.get_attribute('href'))
    
    # get posting job level
    try:
        job_level = wd.find_element_by_xpath('/html/body/div[1]/div/section/div[2]/div/section[1]/div/ul/li[1]/span').text
    except:
        job_level = wd.find_element_by_xpath('/html/body/div[1]/div/section/div[2]/div/section[2]/div/ul/li[1]/span').text
        
    seniority_level.append(job_level)
    
    time.sleep(0.1)

In [90]:
# scrubbing null values for job level
missing_seniority_level = seniority_level
missing_seniority_level = [i if len(i) > 0 else 'Not Applicable' for i in seniority_level]

In [85]:
# separate city and state
state = []
city = []

for i in range(len(location)):
    state.append(location[i][-2:])
    city.append(location[i][:-4])

In [87]:
# replacing , in company name, just personal ref
cleaned_company_name = [name.replace(',','-') for name in company_name]

In [91]:
job_dict = {
    'id': job_id,
    'title': job_title,
    'seniority_level': missing_seniority_level,
    'company_name': cleaned_company_name,
    'city': city,
    'state': state
#     'link': job_link
}

job_df = pd.DataFrame(job_dict)

In [100]:
job_df.to_csv('temp.csv',index=False)

In [105]:
job_df_group_by_city = job_df.groupby('city').size().sort_values(ascending = False)
job_df_group_by_city

city
San Francisco    19
Fremont           2
Redwood City      2
Oakland           1
Richmond          1
dtype: int64

In [3]:
# TODO: 
# description, combine all substirngs into a giant string
# sql, python, R, Tableau, BI, excel, looker, powerpoint, SAS, ETL, Jupyter Notebooks
df = pd.read_csv('temp.csv')

In [4]:
df.sample(5)

,id,title,seniority_level,company_name,city,state
15,2710966299,Data Analyst - Remote,Not Applicable,New Relic- Inc.,San Francisco,CA
4,2728555002,"Data Analyst, Revenue Intelligence",Not Applicable,Twitter,San Francisco,CA
9,2734415779,Data Analyst,Entry level,First Republic Bank,San Francisco,CA
20,2710303258,Data Analyst,Not Applicable,Electronic Arts (EA),Redwood City,CA
21,2684696582,"Data Analyst, Reconciliation",Associate,Square,San Francisco,CA